.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-d-col {
  flex-direction: column;
}
.h-w-100 {
  height: 100%;
  width: 100%;
}
.h-42 {
  height: 42px;
}
.h-40 {
  height: 40px;
}
.font-12 {
  font-size: 12px;
}
.s-al-right {
  align-self: flex-start;
}
.w-300 {
  width: 300px;
}
.p-10 {
  padding: 10px;
}
.m-t-10 {
  margin-top: 10px;
}
.mouse-pointer {
  cursor: pointer;
}
.op-1 {
  opacity: 1;
  z-index: 10;
}
.op-0 {
  opacity: 0;
  z-index: -10;
}
.b-black{
border-color: rgba(0, 0, 0,0.5);
}
.font-black {
  color: rgba(0, 0, 0,0.5);
}

.b-red {
  border-color: rgba(255, 0, 0, 0.5);
}
.font-red {
  color: rgba(255, 0, 0, 0.5);
}
.input-b-red{
    border: 2px rgb(255, 144, 144) solid;
}
.input-b-black{ 
  /* changed color black to this but used same class name */
    border: 2px rgb(183, 176, 255) solid;
}
.font-full-black{
    color: black;
}
.text-w-100{
  color: aliceblue;
}
.uppercase{
  text-transform: uppercase;
}